<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

    <title>PROJETO BAYMAX</title> <!--Titulo da ABA-->
</head>
<body class="telaFuncionalidades">
    <!-- Corpo do Site = Conteúdo -->
    <header id="cabecalho">
        <!-- Menu de Navegação -->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a href="../HTML/index.html">
                    <img src="../Imagens/file.png" alt="Logo" width="60" height="54" class="d-inline-block align-text-top">
                </a>
                <a class="navbar-brand" style="color: rgb(0, 0, 0);" href="../HTML/index.html">Projeto Baymax</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" style="color: rgb(0, 0, 0);" href="../HTML/index.html">Página Inicial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" style="color: rgb(0, 0, 0);" href="../HTML/iA.html">Chat IA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" style="color: rgb(0, 0, 0);" href="../HTML/funcionalidades.html">Funcionalidades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" style="color: rgb(0, 0, 0);" href="../HTML/sobreNos.html">Sobre Nós</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" style="color: rgb(0, 0, 0);" href="../HTML/fechamento.html">Fechamento</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="inicial">
        <h1>Funcionalidades</h1>
    </section>
    <section class="templateInicial">
        <img class="ti2" src="../Imagens/funcionalidades.jfif" alt="Imagem do Baymax Acenando" />
    </section>

    <section class="funcionalidades-carrossel">
        <h2>Funcionalidades do Assistente Baymax</h2>

        <div class="funcionalidade">
            <h3>Guiar Visitantes:</h3>
            <p>Deixe o Seu Assistente Baymax ser seu guia pelo Senac SBC! Ele vai te indicar onde ficam as salas de aula, os escritórios e outros lugares interessantes. É como ter um amigo super atencioso ao seu lado!</p>
            <img class="ti" src="../Imagens/GUIA.jpg" alt="Imagem do Seu Assistente Baymax Acenando" />
        </div>

        <div class="funcionalidade">
            <h3>Auxílio em Eventos:</h3>
            <p>Imagine ter um ajudante durante os eventos do Senac SBC! O Seu Assistente Baymax vai te fornecer os horários certinhos, onde fica tudo e até sobre o que é o evento. É como ter um assistente pessoal só seu!</p>
            <img class="ti" src="../Imagens/evento.jpg" alt="Imagem do Seu Assistente Baymax Acenando" />
        </div>

        <div class="funcionalidade">
            <h3>Informações sobre Cursos:</h3>
            <p>Descubra tudo sobre os cursos oferecidos no Senac SBC! O Seu Assistente Baymax vai te informar o que você precisa saber, como quais são as matérias e se você precisa de alguma coisa especial. É como ter um catálogo de cursos na ponta dos dedos!</p>
            <img class="ti" src="../Imagens/OIG4 (5).jpg" alt="Imagem do Seu Assistente Baymax Acenando" />
        </div>

        <div class="funcionalidade">
            <h3>Promover Eventos e Atividades:</h3>
            <p>O Seu Assistente Baymax adora compartilhar eventos legais do Senac SBC! Ele vai te contar sobre workshops, atividades extracurriculares e tudo mais que está acontecendo na instituição. É como ter um animador de festas sempre por perto!</p>
            <img class="ti" src="../Imagens/promoçãoEvento.jpg" alt="Imagem do Seu Assistente Baymax Acenando" />
        </div>

        <div class="funcionalidade">
            <h3>Reciclagem e Limpeza:</h3>
            <p>Ajude o planeta junto com o Seu Assistente Baymax! Ele vai te ajudar a recolher o lixo e até separar para reciclagem. É como ter um super herói da limpeza!</p>
            <img class="ti" src="../Imagens/lixo.jpg" alt="Imagem do Seu Assistente Baymax reciclagem" />
        </div>

        <div class="funcionalidade">
            <h3>Monitoramento de Temperatura e Umidade:</h3>
            <p>Mantenha-se confortável no Senac SBC com a assistência do Seu Assistente Baymax! Ele monitora constantemente a temperatura e umidade das salas de aula e outros espaços para garantir o seu conforto. É como ter um termostato vigilante ao seu lado!</p>
            <img class="ti" src="../Imagens/temperatura.jpg" alt="Imagem do Seu Assistente Baymax reciclagem" />
        </div>

        <div class="funcionalidade">
            <h3>Assistência a Pessoas com Audição Reduzida:</h3>
            <p>O Seu Assistente Baymax está aqui para todos! Ele pode ajudar pessoas com problemas de audição oferecendo interpretação em libras e outras formas de comunicação. É como ter um tradutor especializado sempre disponível!</p>
            <img class="ti" src="../Imagens/surdo4.jpg" alt="Imagem do Seu Assistente Baymax reciclagem" />
        </div>

        <div class="funcionalidade">
            <h3>Disponibilizar Links para os Melhores Recursos de Aprendizado:</h3>
            <p>O Seu Assistente Baymax vai te mostrar os melhores recursos de aprendizado online e até sugerir livros legais para cada curso no Senac SBC. É como ter um bibliotecário virtual sempre pronto para te ajudar!</p>
            <img class="ti" src="../Imagens/livro.jpg" alt="Imagem do Seu Assistente Baymax reciclagem" />
        </div>

        <div class="funcionalidade">
            <h3>Orientação sobre Serviços Acadêmicos:</h3>
            <p>Precisa de ajuda com coisas do Senac SBC? O Seu Assistente Baymax vai te dar todas as informações sobre matrícula, documentos e prazos importantes. É como ter um assistente administrativo pessoal!</p>
            <img class="ti" src="../Imagens/needHelp.jpg" alt="Imagem do Seu Assistente Baymax reciclagem" />
        </div>

        <div class="funcionalidade">
            <h3>Acompanhamento de Estudantes:</h3>
            <p>Não perca nada importante com o Seu Assistente Baymax! Ele vai te lembrar dos prazos de trabalhos, datas de provas e eventos acadêmicos. É como ter um planner super eficiente!</p>
            <img class="ti" src="../Imagens/ajuda.jpg" alt="Imagem do Seu Assistente Baymax reciclagem" />
        </div>

        <div class="funcionalidade">
            <h3>Interpretação Multilíngue:</h3>
            <p>O Seu Assistente Baymax fala todos os idiomas! Ele vai te ajudar a se comunicar com estudantes estrangeiros ou visitantes internacionais no Senac SBC. É como ter um tradutor de bolso!</p>
            <img class="ti" src="../Imagens/linguagens.jpg" alt="Imagem do Seu Assistente Baymax reciclagem" />
        </div>

        <div class="funcionalidade">
            <h3>Promoção da Saúde:</h3>
            <p>Cuide-se com o Seu Assistente Baymax! Ele vai te dar dicas de saúde, te incentivar a praticar atividades físicas e te manter informado sobre eventos relacionados ao bem-estar no Senac SBC. É como ter um personal trainer e um nutricionista ao mesmo tempo!</p>
            <img class="ti" src="../Imagens/nurse.jpg" alt="Imagem do Seu Assistente Baymax reciclagem" />
        </div>

        <div class="funcionalidade">
            <h3>Assistência em Bibliotecas:</h3>
            <p>Encontre facilmente o que precisa na biblioteca com o Seu Assistente Baymax! Ele vai te guiar até os livros certos e te dar informações sobre o acervo disponível no Senac SBC. É como ter um GPS para livros!</p>
            <img class="ti" src="../Imagens/biblotecário.jpg" alt="Imagem do Seu Assistente Baymax reciclagem" />
        </div>

        <section class="funcionalidade">
            <h3>CONEXÃO SINPAT</h3>
            <p>O Seu Assistente Baymax é como um super-herói tecnológico! Ele pode disparar mensagens de aviso na rede do Senac, e enviar mensagens de aviso através da SINPAT. Além disso, ele mantém um registro de quem procurar em casos de emergência, como brigadistas e socorristas,e coordena um sistema de evacuação e rotas de incêndio. É como ter um verdadeiro guardião digital pronto para qualquer desafio!</p>
            <img class="ti" src="../Imagens/Bombeiro.jpg" alt="Imagem do Seu Assistente Baymax reciclagem" />
        </section>

        <div class="funcionalidade">
            <h3>Feedback Interativo:</h3>
            <p>Dê sua opinião sobre o Seu Assistente Baymax! Ele quer saber o que você achou do seu trabalho para sempre melhorar. É como ter um botão de avaliação para garantir que o Seu Assistente Baymax está sempre te atendendo da melhor forma possível!</p>
            <img class="ti" src="../Imagens/FiveStars.jpg" alt="Imagem do Seu Assistente Baymax reciclagem" />
        </div>

  </body>
</html>