<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

    <title>PROJETO BAYMAX</title> <!--Titulo da ABA-->
</head>
<body class="sobreNos">
    <!-- Corpo do Site = Conteúdo -->
    <header id="cabecalho">
        <!-- Menu de Navegação -->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a href="../HTML/index.html">
                    <img src="../Imagens/file.png" alt="Logo" width="60" height="54" class="d-inline-block align-text-top">
                </a>
                <a class="navbar-brand" style="color: rgb(0, 0, 0);" href="../HTML/index.html">Projeto Baymax</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" style="color: rgb(0, 0, 0);" href="../HTML/index.html">Página Inicial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" style="color: rgb(0, 0, 0);" href="../HTML/iA.html">Chat IA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" style="color: rgb(0, 0, 0);" href="../HTML/funcionalidades.html">Funcionalidades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" style="color: rgb(0, 0, 0);" href="../HTML/sobreNos.html">Sobre Nós</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" style="color: rgb(0, 0, 0);" href="../HTML/fechamento.html">Fechamento</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="inicial">
        <h1>Sobre Nós</h1>
    </section>
    <section class="templateInicial">
        <img class="ti2" src="../Imagens/sobre.jpg" alt="Imagem do Baymax Acenando" />
    </section>
    <section class="inicial">
        <h2>Quem nós somos?</h2>
        <p>

             E aí, galera! Nós, Daniel Zambotti; Pedro Nogueira e Vitor Cavallini, somos um bando de estudantes empolgados do curso de Tecnologia da Informação,
            lá na sala TI18N. Tamo aqui com uma energia lá em cima pra mostrar o nosso Projeto Integrador de Hardware.
            Bora lá! Vamos te mostrar
            como a tecnologia pode ser super legal e útil no nosso dia a dia. É diversão garantida! 🚀✨
        </p>
    </section>
</body>
</html>